# ============================================
# DEPENDENCIES
# ============================================
node_modules/

# ============================================
# BUILD
# ============================================
dist/
.vite/

# ============================================
# ENV
# ============================================
.env
.env.local
.env.production

# ============================================
# LOGS
# ============================================
*.log
npm-debug.log*