# ============================================
# PYTHON
# ============================================

__pycache__/
*.py[cod]
*$py.class

# ============================================
# VENV
# ============================================

venv/
.env/
.venv/

# ============================================
# ENV FILES
# ============================================

.env

# ============================================
# FASTAPI / UVICORN
# ============================================

*.log

# ============================================
# IDE
# ============================================

.vscode/
.idea/

# ============================================
# OS FILES
# ============================================

.DS_Store
Thumbs.db

# ============================================
# VECTOR DATABASES
# ============================================

app/vector_store/indexes/*.index
app/vector_store/indexes/*.faiss
app/vector_store/metadata/*.json

# ============================================
# MEMORY STORE
# ============================================

app/memory_store/*.index
app/memory_store/*.faiss
app/memory_store/*.json
app/memory_store/*.txt
app/vector_store/indexes/*
app/vector_store/metadata/*
app/vector_store/bm25

# ============================================
# UPLOADS
# ============================================

app/uploads/*

# keep directory tracked
!app/uploads/.gitkeep

# ============================================
# CACHE
# ============================================

.cache/

# ============================================
# TESTS / COVERAGE
# ============================================

.pytest_cache/
.coverage
htmlcov/

# ============================================
# NOTEBOOKS
# ============================================

.ipynb_checkpoints/

# ============================================
# BUILD
# ============================================

build/
dist/
*.egg-info/

# ============================================
# TEMP FILES
# ============================================

*.tmp
*.temp
 

body.json