# ============================================
# OS
# ============================================
.DS_Store
Thumbs.db

# ============================================
# IDE
# ============================================
.vscode/
.idea/

# ============================================
# TEMP
# ============================================
*.zip
*.tmp
*.temp
body.json

# ============================================
# PLANS FOLDER
# ============================================
plans/