# ============================================
# PYTHON
# ============================================
__pycache__/
*.py[cod]
*$py.class

# ============================================
# VENV
# ============================================
venv/
.env/
.venv/

# ============================================
# ENV
# ============================================
.env

# ============================================
# LOGS
# ============================================
*.log

# ============================================
# VECTOR STORE
# ============================================
app/vector_store/indexes/*
app/vector_store/metadata/*
app/vector_store/bm25/*

# ============================================
# MEMORY STORE
# ============================================
app/memory_store/*

# ============================================
# UPLOADS
# ============================================
app/uploads/*
!app/uploads/.gitkeep

# ============================================
# CACHE
# ============================================
.cache/

# ============================================
# TESTS
# ============================================
.pytest_cache/
.coverage
htmlcov/

# ============================================
# BUILD
# ============================================
build/
dist/
*.egg-info/